.container{
    border: dotted blue;
    width:80%;
    margin: 5%;


}

.inner_container{
    border: solid 1px black;
    padding: 20px;
    margin: 5%;
    font-style: italic;
    width: 80%;
    border-radius: 20px;


}